<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="domain">Domain:</label><br>
        <input type="text" id="domain" name="domain"><br>
        <label for="repo">GitHub Repository:</label><br>
        <input type="text" id="repo" name="repo"><br>
        <label for="artifactId">Artifact ID:</label><br>
        <input type="text" id="artifactId" name="artifactId"><br>
        <label for="groupId">Group ID:</label><br>
        <input type="text" id="groupId" name="groupId"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
